@model IEnumerable<Movie>

@foreach (Movie movie in Model)
{
    <div class="card  text-white bg-dark m-2" style="width: 18rem;">
        <img class="card-img" src="@movie.Poster" alt="Card image cap">
        <div class="card-body">
            <div>

                <h5 class="card-title  fw-bold">@movie.Title</h5>
            </div>
            <a asp-action="MovieDetail" asp-route-id="@movie.ImdbId" class="btn btn-outline-light w-100">Ver mas...</a>
        </div>
    </div>
}