
@{
}



<div class="w-100 vh-100  d-flex justify-content-center">
    <div class="align-self-md-center">

        <h2 class="fw-bold">!Ups , No se encontro informacion ! :( </h2>
            <a asp-action="Index" class="btn btn-outline-light w-100">Regresar</a>
    </div>
</div>